.Header {
    width: 100%;
    height: 176px;
    background: #eeeeee;
}

.container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.text {
    margin: 20px 0 0 0;
}

.title {
    max-width: 619px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.46px;
}

.description {
    max-width: 529px;
    font-size: 24px;
    line-height: 29.23px;
    color: rgba(0, 0, 0, 0.6);
}

.image {
    width: 440px;
    position: relative;
}

img {
    max-width: 100%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1080px) {
    .Header {
        height: 110px;
    }

    .container {
        padding: 0 40px;
    }

    .title {
        font-size: 30px;
        line-height: 36.54px;
    }

    .description {
        max-width: 353px;
        font-size: 16px;
        line-height: 19.49px;
    }

    .image {
        max-width: 240px;
    }
}


@media (max-width: 767px) {
    .Header {
        height: 160px;
    }

    .container {
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .text {
        margin: 10px 0 0 0;
        height: 100%;

    }

    .title {
        max-width: 258px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        padding: 0 0 3px 0;
    }

    .description {
        max-width: 281px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin: 0 auto;
    }

    .image {
        width: 240px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -120px;
    }
}